/* FONDO PRINCIPAL */
.pane {
    -fx-background-color: #000000; /* Fondo negro total */
}

/* TEXTOS */
.text {
    -fx-fill: white;
    -fx-font-size: 14px;
}

.text:nth-of-type(3) {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: white;
}

/* CAMPOS DE TEXTO Y ÁREAS */
.text-field,
.text-area,
.combo-box {
    -fx-background-color: rgba(255, 255, 255, 0.07); /* Glass effect */
    -fx-text-fill: white;
    -fx-prompt-text-fill: #bbbbbb;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color: rgba(255,255,255,0.2);
    -fx-padding: 8 12;
    -fx-font-size: 13px;
}
.combo-box-popup .list-cell {
    -fx-background-color: Black; /* Fondo de cada ítem */
    -fx-text-fill: #006064; /* Color del texto */
}
.combo-box-popup .list-cell:hover
{
    -fx-background-color: Red;
}

/* CAMPOS DESHABILITADOS */
.text-field:disabled,
.text-area:disabled,
.combo-box:disabled {
    -fx-opacity: 0.5;
    -fx-text-fill: #cccccc;
}

/* BOTONES ROJOS */
.button {
    -fx-background-color: #e50914; /* Rojo fuerte estilo Netflix */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(229, 9, 20, 0.4), 5, 0.3, 0, 2);
}

/* BOTONES HOVER */
.button:hover {
    -fx-background-color: #ff1a1a;
}
